modules = ["nodejs-20", "python-3.11", "postgresql-16"]
[agent]
expertMode = true
integrations = ["javascript_object_storage:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["jq"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Centaur Server"

[[workflows.workflow]]
name = "Centaur Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "start"]
build = ["npm", "run", "build"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 180000

[userenv]

[userenv.shared]
GAME_ENGINE_HOST = "88e77f59-672b-4d70-ba90-0ea74a66e64c-00-1ri7u2qgrf4n2.worf.replit.dev"

[userenv.production]
TACTICTOES_FUNCTIONS_REGION = "australia-southeast1"

[userenv.development]
TACTICTOES_FUNCTIONS_REGION = "us-central1"
